.header-bar {
  background: var(--brand-color);
  border-bottom: 1px solid var(--color-white);
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: var(--layer-top-elements);
  color: #fff;
  display: flex;
}
.header-bar  a {
  color: #fff;
}

.header-bar .logo {
  font-weight: bold;
  padding: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  letter-spacing: 5px;;
}
.header-bar .logo2 {
  background: #000;
}

.header-bar  .flex-left {
  flex-grow: 1;
}

.header-bar  .flex-center {
  justify-items: center;
}

.header-bar  .flex-right {
  text-align: right;
  flex-grow: 1;
}

.header-bar .hamburger {
  width: 30px;
}

.header-bar .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 6px auto;
  transition: var(--transtion-drawer);
}

.header-bar .hamburger:hover {
  cursor: pointer;
}

.header-bar .hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.header-bar .hamburger.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header-bar .hamburger.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.container-user-info {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-user-info button {
  margin-left: 1rem;
}
