
.basic-form {
  padding: var(--base-unit);
  border: 2px solid var(--accent-color-dark);
  background-color: var(--accent-color-light);
  border-radius: var(--base-rounded-corners);
}
.basic-form.hidden {
  display: none;
}
.basic-form button {
  padding: var(--base-unit-half);
  margin: var(--base-unit-half);
  border: 2px solid var(--accent-color-dark);
  background-color: var(--accent-color-dark);
  border-radius: var(--base-rounded-corners);
  color: var(--accent-color-light);
}
.field-pair {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--base-unit-half);
}
.field-pair label {
  flex: 0 0 75px;
  margin-right: var(--base-unit);
  text-align: right;
  font-weight: bold;
}
.form-page-container {
  margin: var(--base-unit);
}

.form-page-container > * {
  margin-bottom: var(--base-unit);
}