:root {
  font-size: 16px;
  box-sizing: border-box;

  --accent-color-dark: #144260;
  --accent-color-light: #0b9afb;
  --color-black: #333;
  --color-white: #f7f5f7;
  --color-warning: #e77c7c;
  --brand-color: #0b9afb;

  --base-unit: 1rem;
  --base-unit-half: 0.5rem;
  --base-unit-quarter: 0.25rem;
  --base-rounded-corners: 6px;
  --base-unit-double: 2rem;

  --wrapper-width: 1600px;
  --header-height: 44px;
  --layer-main-body: 1;
  --layer-top-elements: 1000;
  --drawer-width: 175px;
  --drawer-max-height: 500px;
  --transtion-drawer: all 0.3s ease-in-out;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
}

img,
select {
  width: 100%;
}

hr { margin: 1rem 0; }

thead {
  background-color: #cfcfcf;
}

th, td  {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background: #efefef;
}

/* buttons */

button {
  border: none;
  cursor: pointer;
  background: var(--accent-color-light);
  color: var(--accent-color-dark);
  border-radius: var(--base-rounded-corners);
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
}

button.active {
  background: var(--accent-color-dark);
  color: #dfdfdf;
}

button:disabled {
  opacity: 0.4;
}

button.delete {
  background: red;
  color: #fff;
}

/* State Classes */

.full-width { width: 100%; }
.hidden { transform: scale(0); }
.bold { font-weight: bold; }
.text-small { font-size: 10px; }
.float-right { float: right; }
.align-right { text-align: right; }
.hand {cursor: pointer; }

/* Common Customized Elements */

.vertical-align-container {
  display: flex;
  align-items: center;
}

.error-message {
  padding: 1rem;
  background-color: var(--color-warning);
  border: 1px solid var(--color-black);
  border-radius: var(--base-rounded-corners);
}
